img {
    height: 70%;
    width: 54%;
    padding: 30px;
}
body{
    margin : 8px;
  }
#mainHeading {
  color:red;
}
 
  .index-h2 {
    color: purple;
  }

  p.funParagraph {
    color:green;
  }
  body {
    color: royalblue;
  }
  img {
    height: 70%;
    width: 54%;
    margin: 20px 30x;

  }