img {
    height: 30%;
    width: 45%;
}
body{
    margin : 8px;
  }
#mainHeading {
  color:red;
}
 
  .index-h2 {
    color: purple;
  }

  p.funParagraph {
    color:green;
  }
  body {
    color: pink;
  }
  img {
    height: 40%;
    width: 15%;
  

  }